/* font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #2c2c2c;
  --input-text-color: #505050;
  --accent-color-first: #bbf330;
  --accent-color-second: #ffe550;
  --body-bgc: #fefefe;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-bgc);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

::placeholder {
  color: var(--input-text-color);
  opacity: 1;
}

/* *header */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.nav-link {
  font-size: 14px;
  color: currentColor;
  padding: 28px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
}

.header-button {
  color: currentColor;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--accent-color-first);
  border: none;
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  cursor: pointer;
}
.header-button:hover,
.header-button:focus {
  background-color: var(--accent-color-second);
}

.nav-list {
  display: flex;
  gap: 28px;
}

.logo {
  margin-right: auto;
}
.navigation {
  margin-right: 30px;
}

/* *main */
/* ^hero-section */

.hero-section {
  padding-top: 14px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
}
.hero-wrapper {
  max-width: 511px;
  margin-right: 160px;
}

.hero-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-button {
  color: currentColor;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--accent-color-first);
  border: none;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-second);
}
.hero-text {
  margin-bottom: 40px;
}

/* ^feauters-section */

.feauters-section {
  background-color: var(--accent-color-second);
  padding-top: 113px;
  padding-bottom: 124px;
}
.feauters-text-block {
  max-width: 573px;
}
.feauters-container {
  display: flex;
}
.feauters-paragraph {
  margin-bottom: 96px;
}
.feauters-second-text-block {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.feaut-sectextblock-item {
  width: 253px;
}
.feauters-img {
  margin-right: 90px;
}
.feauters-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.feauters-options-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.feauters-button {
  font-weight: 500;
  font-size: 13px;
  color: #2c2c2c;

  border: 2px solid #7eb101;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
}
.feauters-button:hover,
.feauters-button:focus {
  background-color: var(--accent-color-first);
  border-color: var(--accent-color-first);
}
/* ^favorites-section */
.favorites-header {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}
.favorites-text {
  text-align: center;
}
/* ^reviews-section */
.reviews-header {
  font-weight: 700;
  font-size: 42px;
}
.reviews-text {
  font-weight: 700;
  font-size: 18px;
}
.reviews-name {
  font-weight: 500;
  font-size: 14px;
}
.reviews-name-text {
  font-size: 14px;
}
/* ^subscribe-section */
.sub-section {
  padding-top: 176px;
  padding-bottom: 201px;
}
.sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subsc-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.sub-text {
  max-width: 532px;
  margin-bottom: 24px;
}
.sub-text-block {
}
.subsc-input {
  font-size: 12px;

  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  height: 42px;
  background: #fefefe;
  margin-right: 32px;
}
.subsc-input-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: inherit;
  width: 103px;
  height: 42px;

  border-radius: 30px;
  background-color: var(--accent-color-first);
  border-style: none;
}
.subsc-input-btn:hover,
.subsc-input-btn:focus {
  background-color: var(--accent-color-second);
}
/* *footer */
/* .header-link {
  font-size: 14px;
  color: currentColor;
}
.header-link:hover,
.header-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
} */

.footer {
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}
.footer-link {
  font-size: 14px;
  color: currentColor;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
}
.footer-subsc-call {
  font-weight: 500;
}
.footer-input {
  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  background: #fefefe;
}

.footer-btn {
  font-weight: 500;
  font-size: 13px;
  color: #2c2c2c;

  border: 0.8541666269302368px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;

  background-color: #fff;
}
.footer-btn:hover,
.footer-btn:focus {
  border-color: var(--accent-color-second);
}
.footer-text {
  font-size: 12px;
}
.footer-text-link {
  text-decoration: underline;
  color: #7eb101;
}
.footer-policy-link {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: #7eb101;
}

.footer-rights-text {
  font-size: 12px;
}
