/* font-family: 'Inter', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-text-color: #2c2c2c;
  --input-text-color: #505050;
  --accent-color-first: #bbf330;
  --accent-color-second: #ffe550;
  --body-bgc: #fefefe;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--body-bgc);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Container */
.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

::placeholder {
  color: var(--input-text-color);
  opacity: 1;
}

/* *header */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.nav-link {
  font-size: 14px;
  color: currentColor;
  padding: 28px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
}

.header-button {
  color: currentColor;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--accent-color-first);
  border: none;
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  cursor: pointer;
}
.header-button:hover,
.header-button:focus {
  background-color: var(--accent-color-second);
}

.nav-list {
  display: flex;
  gap: 28px;
}

.logo {
  margin-right: auto;
}
.navigation {
  margin-right: 30px;
}

/* *main */
/* ^hero-section */

.hero-section {
  padding-top: 14px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
}
.hero-wrapper {
  max-width: 511px;
  margin-right: 160px;
}

.hero-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-button {
  color: currentColor;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--accent-color-first);
  border: none;
  border-radius: 30px;
  padding: 6px 17px;
  width: 98px;
  height: 32px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-second);
}
.hero-text {
  margin-bottom: 40px;
}

/* ^feauters-section */

.feauters-section {
  background-color: var(--accent-color-second);
  padding-top: 113px;
  padding-bottom: 124px;
}
.feauters-text-block {
  max-width: 573px;
  margin-top: 83px;
}
.feauters-container {
  display: flex;
  justify-content: center;
}
.feauters-paragraph {
  margin-bottom: 96px;
  max-width: 500px;
}
.feauters-second-text-block {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
.feaut-sectextblock-item {
  width: 253px;
  /* font-size: 14px; */
}
.feaut-text {
  font-size: 14px;
}
.feauters-img {
  margin-right: 90px;
}
.feauters-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.feauters-options-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.feauters-button {
  font-weight: 500;
  font-size: 13px;
  color: #2c2c2c;

  border: 2px solid #7eb101;
  border-radius: 30px;
  background-color: #fff;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
}
.feauters-button:hover,
.feauters-button:focus {
  background-color: var(--accent-color-first);
  border-color: var(--accent-color-first);
}
/* ^favorites-section */
.favorites-header {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}
.favorites-text {
  text-align: center;
  margin-bottom: 40px;
}
.fav-section {
  padding-top: 120px;
  padding-bottom: 101px;
}
.fav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 114px 112px;
  justify-content: center;
}

/* ^reviews-section */
.reviews-header {
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}
.reviews-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 41px;
}
.rev-core-text {
  margin-bottom: 32px;
}
.reviews-name {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}
.reviews-name-text {
  font-size: 14px;
}
.rev-section {
  padding-top: 140px;
  padding-bottom: 126px;
  background-color: var(--accent-color-second);
}
.rev-list {
  display: flex;

  gap: 139px;
}
.rev-li {
  max-width: 501px;
  background-color: #fefefe;
  border-radius: 0 30px 30px 30px;
  padding: 60px 14px 14px 14px;
}
.rev-block {
  display: flex;
  align-items: center;
}
.rev-img {
  margin-right: 16px;
}

/* ^subscribe-section */
.sub-section {
  padding-top: 176px;
  padding-bottom: 201px;
}
.sub-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subsc-header {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.sub-text {
  max-width: 532px;
  margin-bottom: 24px;
}
.sub-text-block {
}
.subsc-input {
  font-size: 12px;

  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 395px;
  height: 42px;
  background: #fefefe;
  margin-right: 32px;
}
.subsc-input-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: inherit;
  width: 103px;
  height: 42px;

  border-radius: 30px;
  background-color: var(--accent-color-first);
  border-style: none;
}
.subsc-input-btn:hover,
.subsc-input-btn:focus {
  background-color: var(--accent-color-second);
}
/* *footer */
/* .header-link {
  font-size: 14px;
  color: currentColor;
}
.header-link:hover,
.header-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
} */

.footer {
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-link {
  font-size: 14px;
  color: currentColor;
  padding: 28px 0;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
  color: var(--accent-color-first);
}
.footer-subsc-call {
  font-weight: 500;
}
.footer-input {
  border: 0.8541666269302368px solid #ffe550;
  border-radius: 30px;
  padding: 10px;
  width: 279px;
  height: 42px;
  background: #fefefe;
}

.footer-btn {
  font-weight: 500;
  font-size: 13px;
  color: #2c2c2c;

  border: 0.8541666269302368px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 103px;
  height: 42px;

  background-color: #fff;
  margin-left: 13px;
}
.footer-btn:hover,
.footer-btn:focus {
  border-color: var(--accent-color-second);
}
.footer-text {
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 80px;
}
.footer-text-link {
  text-decoration: underline;
  color: #7eb101;
}
.footer-policy-link {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: #7eb101;
}

.footer-rights-text {
  font-size: 12px;
}
.footer-list {
  display: flex;
  gap: 28px;
  margin-left: 143px;
}
.footer-nav-box {
  display: flex;
  align-items: center;
}
.footer-box {
  display: flex;
}
.row-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-form {
  margin-top: 12px;
}
.policy-core-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.policy-list {
  display: flex;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(94, 99, 99, 0.7);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  border-radius: 30px;
  width: 458px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background: #ffe550;
  height: 449px;
  padding: 32px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.modal-close-btn {
  position: absolute;
  right: 12px;
  top: 12px;

  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;

  padding: 0;
  line-height: 0;
}
.is-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: center;
}
.modal-input-wrap {
  margin-bottom: 24px;
}
.label-form {
  font-weight: 500;
  line-height: 1.4;
  font-style: 16px;
  margin-bottom: 2px;
  display: block;
  margin-left: 12px;
}
.input-form {
  border: 1px solid rgba(18, 18, 18, 0.12);
  border-radius: 30px;
  width: 100%;
  height: 48px;

  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-left: 12px;
  outline: transparent;
}

.modal-input-wraper {
  margin-bottom: 32px;
}

.modal-btn {
  border: 2px solid #7eb101;
  border-radius: 30px;
  min-width: 106px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #bbf330;
}
